Lab/Week-3 Assignment/Week-3/Week-3 Assignment/Q2.dtd

<!ELEMENT bookstore ((book)+)>
<!ELEMENT book (title, author, (genre)?)>
<!ELEMENT author (first-name, last-name)>
<!ATTLIST book price CDATA #REQUIRED>
<!ATTLIST book ISBN CDATA #FIXED "string">
<!ATTLIST book publicationdate CDATA #IMPLIED>
<!ELEMENT first-name (#PCDATA)>
<!ELEMENT last-name (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
